// Make sure the charset is set appropriately
@charset "UTF-8";

// Foundation settings
@import "public/bower/foundation/scss/foundation/_functions";

$primary-color: #2C8EC9;
$secondary-color: #E7E7E7;
$alert-color: #F76565;
$success-color: #22BF64;

$input-include-glowing-effect: false;

$base-font-size: 14px;
$rem-base: $base-font-size;
$topbar-title-font-size: rem-calc(26);
$topbar-margin-bottom: 1rem;

$body-font-color: #4D4D4D;

$topbar-bg: $primary-color;
$topbar-link-bg: $topbar-bg;
$topbar-link-bg-hover: scale-color($topbar-link-bg, $lightness: -14%);
$topbar-link-bg-active: $topbar-link-bg;
$topbar-link-bg-active-hover: scale-color($topbar-link-bg, $lightness: -14%);
$topbar-dropdown-bg: scale-color($topbar-bg, $lightness: -28%);

$body-bg: #FFF url(public/img/linedpaper.png) repeat;
$row-width: rem-calc(1400);
$global-radius: 0.25rem;

// Load Open Sans
$include-open-sans: false;
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(public/fonts/Open_Sans/OpenSans-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(public/fonts/Open_Sans/OpenSans-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url(public/fonts/Open_Sans/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: url(public/fonts/Open_Sans/OpenSans-LightItalic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: url(public/fonts/Open_Sans/OpenSans-Italic.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: url(public/fonts/Open_Sans/OpenSans-BoldItalic.ttf) format('truetype');
}

@import
  "public/bower/foundation/scss/normalize",
  "public/bower/foundation/scss/foundation";

  
// Component CSS / SCSS
@import "public/bower/font-awesome/scss/font-awesome";

// Custom Foundation overrides
.column, .columns {
  @include clearfix;
  position: static;
}
.row {
  position: relative;
}
h1, h2, h3, h4, h5, h6 {
  display: inline-block;
}
button, .button {
  h1, h2, h3, h4, h5, h6 {
    color: $topbar-link-color;
  }
  margin-bottom: 1rem;
}
textarea {
  line-height: 1.6;
  overflow-y: hidden;
}
.top-bar-section {
  i {
    padding-right: 0.25em;
  }
  .left {
    li {
      background-color: $topbar-bg;
    }
  }
}
button,
.button {
  &.tiny {
    margin-bottom: 0;
    padding: 0.5rem;
    text-transform: uppercase;
  }
}

// Custom settings
$base-border-color: #BBBBBB;
$light-border-color: scale-color($base-border-color, $lightness: 50%);
$medium-border-color: scale-color($base-border-color, $lightness: 25%);
$footer-height: 2rem;
$footer-bg: $topbar-bg;
$input-padding: 0.57143rem;
$max-z-index: 9999998;
// Accent colors
$accent-red: #FF4D4F;
$accent-orange: orange;
$accent-yellow: #FFFDD0;
$accent-green: #EAFFDA;
$accent-blue: #E7FEFF;
$accent-purple: #F2C7FF;
$accent-gray: #EEEEEE;
// Module colors
$task-color: $accent-green;
$task-color-dark: scale-color($task-color, $lightness: -25%, $saturation: +10%);
$note-color: $accent-yellow;

// Custom mixins
@mixin text-ellipsis() {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
@mixin opacity($trans) {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=#{$trans * 100})";
  -moz-opacity: $trans;
  -khtml-opacity: $trans;
  opacity: $trans;
}
@mixin round-button($diameter, $color) {
  @include radius($diameter / 2);
  background-color: $color;
  border: 1px solid $light-border-color;
  display: inline-block;
  height: $diameter;
  margin: 0;
  padding: 0;
  text-align: center;
  width: $diameter;
  &:hover {
    @include opacity(0.75);
    cursor: pointer;
  }
  i {
    color: #FFF;
    display: inline-block;
    font-size: ($diameter * 2/3);
    padding: ($diameter * 1/6) 0;
    // Special cases for misaligned icons
    &.fa-plus {
      padding-top: ($diameter * 3/14);
      padding-bottom: ($diameter * 1/14);
    }
  }
}

// Custom styles

*, *:before, *:after {
  -webkit-box-sizing: border-box; // Android = 2.3, iOS = 4
  -moz-box-sizing: border-box; // Firefox 1+
  box-sizing: border-box; // Chrome, IE 8+, Opera, Safari 5.1
}

// Sticky footer
html, body {
  height: 100%;
}
#non-footer {
  min-height: 100%;
  position: relative;
}
* html #non-footer {
  height: 100%;
}
#page-container {
  padding-bottom: $footer-height + $topbar-margin-bottom;
}
footer {
  background-color: $footer-bg;
  height: $footer-height;
  margin-top: (-$footer-height);
  position: relative;
  text-align: center;
  div {
    p:last-child {
      margin-bottom: 0;
    }
  }
}

// Dashboard
#dashboard {
  .item-list {
    $item-list-margin-width: 2.5em;
    $item-list-padding: 0.5em;
    box-shadow: 0 2px 6px 0 rgba(0,0,0,.2),0 25px 50px 0 rgba(0,0,0,.15);
    margin-top: 5em;
    position: relative;
    .input {
      form {
        input {
          margin: 0;
          padding: $input-padding;
        }
      }
    }
    .item {
      border-top: 1px dotted scale-color($light-border-color, $lightness: 20%);
      overflow: hidden;
      .margin {
        float: left;
        height: 2.5em;
        position: relative;
        width: $item-list-margin-width + $item-list-padding;
        .toggle {
          height: 100%;
          width: 100%;
          margin: 0;
        }
      }
      .line {
        //@include text-ellipsis();
        padding: $item-list-padding;
        padding-left: $item-list-margin-width + $item-list-padding * 3;
      }
      &:last-of-type:before {
        content: '';
        border-left: 1px solid #f5d6d6;
        border-right: 1px solid #f5d6d6;
        width: $item-list-padding;
        position: absolute;
        top: 0;
        left: $item-list-margin-width + $item-list-padding;
        height: 100%;
      }
    }
    &#tasks {
    }
  }
}
